<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116511458-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116511458-1');
  </script>
    <title>Visual Movement</title>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type => 'image/png'%>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <% if current_user %>
      <script>
        window.currentUser = {
          "id": <%= current_user.id %>,
          "username": "<%= current_user.username %>",
          "email": "<%= current_user.email %>"
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
